<!DOCTYPE html>
<html lang="en">
<html data-theme="night"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="min-h-screen flex justify-center items-center bg-ima1 bg-fixed bg-no-repeat bg-cover bg-center">
        <h1 class="text-transparent bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-8xl">Lorem ipsum</h1>
      </div>
      
      <div class="p-10">
        <h2 class="font-bold text-4xl">Le Dr Drip Driz</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab numquam eveniet molestias veniam, inventore sint voluptates nam provident impedit laborum ipsa vel quos amet laboriosam dolorum suscipit! Nihil eos repellendus blanditiis repellat laboriosam veniam quod maxime ab! Ea eveniet doloremque, excepturi totam, et molestias dicta accusamus quibusdam quas sunt inventore!</p>
      </div>
      
      <div class="bg-ima2 min-h-screen bg-center bg-no-repeat bg-cover bg-fixed"></div>
      
      <div class="bg-ima3 min-h-screen bg-fixed bg-no-repeat bg-cover"></div>
</body>
</html>